.bo-label {
  @apply block text-xs uppercase text-gray-400;
  &.mandatory {
    @apply font-bold text-gray-600;
    &:after {
      content: ' *';
    }
  }
}

.bo-form .error {
  @apply text-red-500 text-sm block;
  &:before {
    content: '* ';
  }
}

.bo-form {
  label {
    @apply mt-2
  }
}

.bo-input, .bo-textarea {
  @apply border border-gray-200 bg-white p-2 h-10 w-full
  focus:outline-none
  hover:border-gray-300
  focus:border-gray-400;
}

.bo-select {
  @apply border border-transparent bg-white p-2 focus:outline-none h-12 w-full;
  min-width: 150px;
  border: 1px solid $color-gray-200;
}
