$main-color: var(--bo-theme-color);

.bo-loading {
  @apply inline-block;

  &:before {
    content: "";
    @apply inline-flex h-5 w-5 animate-spin rounded-full border-2 align-middle;
    border-color: $main-color $main-color transparent transparent;
  }
}

.bo-loading-full-screen {
  @extend .bo-loading;
  @apply fixed top-0 left-0 block flex h-screen w-screen items-center bg-gray-700 opacity-70;
  z-index: 10000;

  &:before {
    @apply mx-auto h-28 w-28 border-4;
    border-color: $main-color $main-color rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
  }
}

.bo-loading-full-element {
  @extend .bo-loading;
  @apply absolute top-0 left-0 block flex h-full w-full items-center bg-gray-700 opacity-70;
  &:before {
    @apply mx-auto h-6 w-6 border-2;
    border-color: $main-color $main-color rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
  }
}
