h1 {
  @apply text-3xl text-gray-700 mb-4;
}

h2 {
  @apply text-2xl text-gray-600 mb-2 mt-24;
}

h3 {
  @apply text-xl text-gray-500 mb-2 mt-16;
}

h4 {
  @apply text-lg text-gray-400 mb-2 mt-12;
}

p {
  @apply my-4 py-2 text-gray-900
}
