
:root {
  --bo-theme-color: #00d789;
  --bo-primary-color: var(--bo-theme-color);
  --bo-secondary-color: #00c5d7;
}

@import "tailwind";
@import "variables";
@import "tabs";
@import "buttons";
@import "forms";
@import "loading";
@import "header";
@import "steps";
@import "notifications";
@import "boxes";
@import "progress";

.use-bo-design-system {


  label {
    @extend .bo-label;
  }

  a {
    @extend .bo-link;
  }

  button {
    @extend .bo-button
  }

  form {
    @extend .bo-form
  }

  select {
    @extend .bo-select
  }

  input:not([type=checkbox]) {
    @extend .bo-input
  }

  textarea {
    @extend .bo-textarea
  }
  
  .tabs {
    @extend .bo-tabs
  }
  
  .tab {
    @extend .bo-tab
  }

  ul {
    @apply list-disc pl-8
  }

  ol {
    @apply list-decimal pl-8
  }
  
  @import "typography";
  
}





